@media (max-width:768px) {
.fot-pd{padding-left:20%;}
.student-board-bt{ padding:5px 25px;}
.topic-question-name{ width:56%; font-size:100%;}
.pro-bar-cont p{ font-size:12px;}
.pro-bar-cont{ width:90px;}
.timerr ul li{width:24%; }
.side-head{ font-size:100%; }
.sub-side-cont li a{ padding:10px; font-size:13px;}
.question-panel li{ padding:2% 3%; margin-right:3px; border:#CCC solid 1px; font-size:18px; background:#f2f2f2;}
.chutiya li label{width:87%}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right{ margin-top:-135px;}
.nbs-flexisel-nav-left {display: block;}
.nbs-flexisel-nav-right { display:block;}
.timerr2 ul li{margin:11px 0 0 8px;}
.ft-con{bottom:0px; }
.question-con{  position:relative; min-height:715px;}

.sum-ques-left{ float:left; width:5%; text-align:center;  }
.sum-ques-middle{  float:left; width:88%; }
.sum-ques-right{  float:left; width:7%;  }

/* student Retail User */
.stu-cont{ padding:30px 0;}
.stu-zone p{ padding:15px; font-size:16px;}
.stu-board-name{ width:100%;}
.stu-board-con{ left:15%; width:70%; }
}

@media (min-width:320px) and (max-width:480px){
.student-board-con{ width:96%; left:2%;}
.student-board-search{ margin:10px auto;}
.student-board-bt{ padding:5px 10px;}
.slider-cont{ height:300px;}
.nbs-flexisel-nav-left {display: block;}
.nbs-flexisel-nav-right { display:block;}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right{ margin-top:-135px;}
.navbar-right{ float:left;}
footer a{ color:#a4a3a3; margin-left:6px;  }
.fot-pd{padding-left:26%;}

.navbar-brand{ padding:20px 0;}
.navbar{ border-radius:0px; min-height:0px; float:none; margin:0px 0 0 0px}	
.navbar-nav{margin:0px; padding:0px;}
.nav > li > a{padding:10px 7px;}
.navbar-nav > li > a{ padding:5px 20px; width:100%; font-size:13px; text-align:center; /*float:left; border-right:#d6d6d6 solid 1px;*/ }
.navbar-nav > li > a:hover{ background:#ececec !important;  }
.navbar-nav > li:last-child{ width:100%; line-height:30px; background:none;}
.navbar-toggle{ margin-top:20px; margin-right:0px; border:none; border-radius:0px; background:#ff7e00; color:#fff; padding:12px;}
.navbar-default .navbar-toggle .icon-bar{ background-color:#fff; z-index:}
.navbar-collapse{ width:100%;}

.panel-cont{ width:100%; margin-right:0%;}
.bred-cont{  padding:10px 0;}
.breadcrumb{padding:8px 15px; }
.breadcrumb li, .breadcrumb > li + li::before{ font-size:14px; }
.panel-title{ font-size:13px;}
.pro-bar-cont p{ font-size:12px;}
.pro-bar-cont{ width:90px;}
.modal-dialog{ width:96%; margin:50px auto;}
.topic-question-name{ width:47%; font-size:14px;}
li.message-preview{ width:183px;}
.timerr{ margin-bottom:10px;}
.timerr ul li{width:24%; } 
.message{ width:96%;}
.question-panel li{ padding:1% 2%; margin-right:3px; border:#CCC solid 1px; font-size:12px; background:#f2f2f2;}
.chutiya li label{width:87%}
.footer-own{ padding:15px 8px; }

.sum-ques-left{ float:left; width:15%; text-align:center;  }
.sum-ques-middle{  float:left; width:70%; }
.sum-ques-right{  float:left; width:15%;  }

.bt-mt{ margin-top:10px;}

/*  Retail User */
.publish{ float:left; margin:7px 0 0 0}


/* student Retail User */
.stu-cont{ padding:30px 0;}
.stu-zone{ margin-bottom:10px;}
.stu-zone p{ padding:10px; font-size:14px;}
.stu-board-name{ width:100%; font-size:18px; padding-bottom:30px; margin:11px auto 0;}
.stu-board-con{ left:3%; width:93%; }
.stu-board-search{ margin:11px auto;}
.stu-board-bt{ padding:5px 11px; font-size:14px;}
.form-control{ padding:6px !important;}
.stu-cont2{ height:230px;}
.recent-active-img{ display:none;}
.recent-active-content-cont{ width:100%;}
.recent-active-content span{ padding-left:0px;}

/* Student update */
.totalques{ font-size:30px; color:#ad1c1c; font-weight:bold; margin-top:20px; display:block; }
.correct-ans{   font-size:30px; color:#99cb34; font-weight:bold; margin-top:20px; display:inline-block; }
.correct-divide{  font-size:30px; color:#000; font-weight:bold; margin-top:20px; display:inline-block; }
.correct-inc{  font-size:30px; color:#ad1c1c; font-weight:bold; margin-top:20px; display:inline-block; }

}	

@media (min-width:800px) and (max-width:979px){
.fot-pd{padding-left:20%;}
.nbs-flexisel-nav-left {display: block;}
.nbs-flexisel-nav-right { display:block;}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right{ margin-top:-135px;}
.student-board-bt{ padding:5px 25px;}
.topic-question-name{ width:56%; font-size:100%;}
.pro-bar-cont p{ font-size:12px;}
.pro-bar-cont{ width:90px;}
.timerr ul li{width:24%; }
.side-head{ font-size:100%; }
.sub-side-cont li a{ padding:10px; font-size:13px;}
.question-panel li{ padding:2% 3%; margin-right:3px; border:#CCC solid 1px; font-size:18px; background:#f2f2f2;}
.chutiya li label{width:87%}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right{ margin-top:-135px;}
.nbs-flexisel-nav-left {display: block;}
.nbs-flexisel-nav-right { display:block;}	
.timerr2 ul li{margin:11px 0 0 8px;}


.sum-ques-left{ float:left; width:5%; text-align:center;  }
.sum-ques-middle{  float:left; width:88%; }
.sum-ques-right{  float:left; width:7%;  }

 
 /*  Retail User */


/* student Retail User */
.stu-cont{ padding:30px 0;}
.stu-zone p{ padding:15px; font-size:17px;}
.stu-board-name{ width:100%;}
.stu-board-con{ left:15%; width:70%; }

   
    @-moz-document url-prefix() { 
  .footer-own {
     bottom:0px;
  }
}
}
	
	
@media (min-width:980px) and (max-width:1169px){
.fot-pd{padding-left:20%;}
.nbs-flexisel-nav-left {display:none;}
.nbs-flexisel-nav-right { display:none;}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right{ margin-top:-135px;}
.student-board-bt{ padding:5px 25px;}
.topic-question-name{ width:56%; font-size:100%;}
.pro-bar-cont p{ font-size:12px;}
.pro-bar-cont{ width:90px;}
.side-head{ font-size:100%; }
.sub-side-cont li a{ padding:10px; font-size:13px;}
.question-panel li{ padding:2% 3%; margin-right:3px; border:#CCC solid 1px; font-size:18px; background:#f2f2f2;}
.under-heading, .revise-heading, .learning-heading{ font-size:20px;}
.chutiya li label{width:87%}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right{ margin-top:-135px;}
.nbs-flexisel-nav-left {display: block;}
.nbs-flexisel-nav-right { display:block;}
.timerr2 ul li{margin:11px 0 0 8px;}
.footer-own{bottom:0px; }

.sum-ques-left{ float:left; width:5%; text-align:center;  }
.sum-ques-middle{  float:left; width:88%; }
.sum-ques-right{  float:left; width:7%;  }

/*  Retail User */

/* student Retail User */
.stu-cont{ padding:30px 0;}
.stu-zone p{ padding:15px; font-size:17px;}
.stu-board-name{ width:100%;}
.stu-board-con{ left:15%; width:70%; }


}

@media (min-width:1170px) and (max-width:1900px){
}



